body{
    /*background: url(LA_011.png) top center fixed;
    background-attachment: scroll;*/
    max-width: 100%;
    display: block;
    background-image: url("https://raw.githubusercontent.com/yxdesign/Lost-in-Translation/main/Background.png");
  }
h1{
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
color:rgb(199, 75, 223);
font-size: 10vmin;
text-align: center;
margin-left: 0.2vmax;
margin-right: 0.2vmax;
margin-top: 2vw;
margin-bottom: 0.5vmax;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #d400ff, #8fecfc);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

a{
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
    color:rgb(0, 29, 135);
    font-size: 4vmin;
    text-align: center;
    margin-left: 0.2vmax;
    margin-right: 0.2vmax;
    margin-top: 2vw;
    margin-bottom: 0.5vmax;
    display: block;
    }
    

h3{
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
    color:rgb(255, 255, 255);
    font-size: 4vmin;
    text-align: center;
    margin-left: 0.2vmax;
    margin-right: 0.2vmax;
    margin-top: 2vw;
    margin-bottom: 0.5vmax;
    }
img{
    display: block;
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
}
.iframe{
    display: block;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
.btn {
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
	border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  justify-content: center;
  vertical-align: middle;
  font-size: 28px;
  max-width: 260px;
  height: 260px;
	border-radius: 4px;
  color: rgb(255, 255, 255);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  max-height: 260px;
  background-color: Transparent;
  cursor: pointer;
  display: flex;
}

.submit {
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  border-radius: 4px;
  background-color: Transparent;
  /*background-image: linear-gradient(180deg, rgb(211, 127, 96), rgb(237, 179, 148));*/
  border: 1px solid rgb(117, 2, 140);
  /*color: #fcfed9d5;*/
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
  color: rgb(117, 2, 140);
}

.submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.submit:after {
  content: ‘\00bb’;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.submit:hover {
  padding-right: 25px;
}
.submit:hover:after {
  opacity: 1;
  right: 0;
}

#enterNoun {
  height:40px;
  font-size:20pt;
}
